@media (min-width: 576px) and (max-width: 768px) {
  .Post .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.Post .card {
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.Post .card-title {
  margin: 0;
}

.Post .card-text {
  margin-top: 0.75rem;
}

.Post .bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Post .bottom-container small:first-child {
  font-weight: bolder;
}

.card-agregar {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  padding: 4.5rem 0;
  cursor: pointer;
}

.card-agregar .plus h3 {
  width: 35px;
  height: 35px;
  border: 3px solid #212529;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
